@import 'tailwindcss';

body {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif,
		Arial,
		sans-serif;
}

@theme inline {
	--color-qset-green: #4caf50;
	--color-qset-bg-gray: #f4f5f4;
	--color-qset-subtitle: #595e5c;
	--color-qset-orange: #ff8b25;
	--color-qset-red: #f44336;
	--color-qset-purple: #e27dc7;
	--color-qset-pink: #fef0ef;
	--color-qset-blue: #2196f3;
	--color-qset-yellow: #ffd700;
}
